/*website by xiaokui*/
body{
	background-color: #FFFFFF;
	min-width: 960px;
	margin: 5px;
}


}

.banner{
	border: 1px solid #DCDCDC;
}

.frame1{
	margin: 15px 5px 15px 5px;
}
.box{
	background-color: #FFFFFF;
	display: inline-block;
	border: 1px solid #DCDCDC;
	margin: 0 auto;
	position: relative;
	padding:15px 5px 15px 5px;
